:root {
    --main-color: #D11067;
    --dark-color: #7A1628;
    --yellow: #FFF616;
    --text-color-field: #FFFFFF33;
    --text-color: #172655;
    --bg-light-yellow: #FEFBF4;
    --bg-dark-gray: #333333;
    --bg-light-green: #DEF5F0;
    --bg-light-blue: #E3EDFD;
    --bg-light-orange: #F7E9E7;
    --border-color: #EDEDED;
    --primary-font: "Montserrat", sans-serif;
    --second-font: "Satisfy", cursive;
    --white: #FFFFFF;
    --border-10px: 1rem;
    --border-21px: 2.1rem;
    --border-35px: 3.5rem;
    --box-sadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    --zoom-in: scale(1.1);
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-20px {
    font-size: 20px;
}

.text-55px {
    font-size: 55px;
}

.text-60px {
    font-size: 60px;
}

.white {
    color: white;
}

.yellow {
    color: var(--yellow);
}

.dark-color {
    color: var(--dark-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-weight: 400;
    color: var(--primary-color);
    line-height: 1.5;
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

header .fucsia {
    background: var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

footer {
    padding: 5rem 0;
    background-color: var(--text-color);
    font-size: 1.3rem;
    color: var(--white);

}

footer p {
    margin-top: 3rem;
}

main {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

main h2 {
    color: var(--main-color);
}

/* CONTENIDOR PRINCIPAL I MENU */
a {
    text-decoration: none;
}

.mt-5rm {
    margin-top: 5rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.banner {
    display: flex;
    flex-wrap: wrap;
}

.banner li {
    list-style: none;
    display: inline-block;
}

.banner img {
    margin-right: 1rem;
    vertical-align: middle;
}

.banner a {
    color: var(--white);
    text-decoration: none;
}

.letter {
    margin-left: 1rem;
}

.menu {
    padding-top: 1.5rem;
}

header .board {
    align-items: baseline;
    background-image: url(../img/blackboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 3rem;
}

nav ul {
    display: none;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.active a {
    color: var(--yellow);
}

#hamburger-toggle {
    display: none;
}

.bg-logo {
    width: 50%;
    height: auto;
    float: left;
}

.hamburger {
    display: grid;
    float: right;
    place-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    /* Cambia el cursor a puntero para indicar que es clickeable */
    position: relative;
    /* Posiciona relativamente para poder posicionar los 'slices' absolutamente */
}

ul {
    list-style-type: none;
}

.slice {
    display: block;
    width: 3rem;
    height: 2px;
    border-bottom: 2px solid var(--white);
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
}

.div-header-text {
    text-align: center;
}

.search {
    background-color: var(--white);
    border-radius: var(--border-35px);
    width: 55%;
    margin: auto;
    padding: 1rem 1rem 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search button {
    background-color: var(--main-color);
    border-radius: 2.1rem;
    border: none;
    width: 15rem;
    padding: 1.3rem;
    color: var(--white);
}

.search button:hover {
    background-color: var(--text-color);
    color: var(--white);
    cursor: pointer;
}

.search button::before {
    background-image: url(../img/search.svg);
    width: 1.75rem;
    height: 1.75rem;
    margin-left: .25rem;
    background-position: center;
    background-repeat: no-repeat;
    content: " ";
    float: left;
}

.search button,
.search input {
    font-size: 2rem;
}

.resum {
    padding-top: 4rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));
}

footer a {
    color: var(--white);
}

footer a:hover {
    text-decoration: underline;
}

footer p a {
    background-color: #FFFFFF40;
}

footer p a:last-child {
    background-color: transparent;
}

.subscribe ul {
    margin-top: 3rem;
}

.subscribe ul li {
    display: inline-block;
    margin-right: 1.5rem;
}

.footer-logo {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    gap: 5rem;
}

.subscribe label {
    text-transform: uppercase;
}

.subs {
    margin-top: 1.5rem;
    width: 81%;
    padding: 1.5rem 1.5rem;
    background-color: #FFFFFF33;
    border-radius: var(--border-35px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search input,
.subs input {
    background-color: transparent;
    padding: 0.8rem 0.5rem;
    border: none;
    width: 100%;
}

.subs input {
    color: white;
    font-size: 1.5rem;
}

.search input::placeholder {
    color: var(--text-color);
}


.subs input::placeholder {
    color: var(--white);
}

.subs button {
    background-color: var(--white);
    border-radius: 50%;
    color: #172655;
    border: none;
}

input:focus-visible {
    outline: none;
}

.subs svg {
    height: 4rem;
    padding: .8rem;
    float: right;
    border-radius: 50%;
    width: 100%;
}

.subs button:hover,
.sec4 button:hover {
    background-color: var(--main-color);
}

.subs button:hover svg path {
    fill: white;
}

.footer-paideia {
    width: 50%;
}


/* ESTILS DE PAGINES ESPECIFICS */

.subtitle {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.subtitle+p {
    margin-bottom: 1.5rem;
}

.board .grid {
    display: grid;
    padding-bottom: 3rem;
    row-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
}

.grid-courses {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
}

.felx-learn {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

/* Elemenis dintre dels cursos */
.course {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: var(--border-10px);
    border: 1px solid var(--border-color);
}

.grid div {
    text-align: center;
}

.box {
    text-align: center;
    align-self: stretch;
    justify-self: center;
    color: white;
}


.course figure {
    text-align: left;
    position: relative;
    object-fit: contain;
    overflow: hidden;
    border-top-left-radius: var(--border-10px);
    border-top-right-radius: var(--border-10px);
}

.course figure h3 {
    color: var(--dark-color);
    padding-top: 1rem;
}

.course figcaption {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
}

.course img.fluid {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 600/400;
}

.course:last-child img.fluid {
    object-fit: cover;
}

.course figure h3,
.course figure figcaption {
    width: 94%;
    margin: auto;
}

.course figcaption p {
    width: 75%;
}

.course figcaption span {
    vertical-align: text-bottom;
}

.lessons {
    display: inline-flex;
    align-items: center;
    background-size: 17px;
    background-image: url(../img/lessons.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
}

.timing {
    display: inline-flex;
    align-items: center;
    background-size: 17px;
    background-image: url(../img/duration.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
}

.level {
    display: inline-flex;
    align-items: center;
    background-size: 17px;
    background-image: url(../img/level.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
}

.course figure .target-best-seller,
.course figure .target-new {
    border-radius: var(--border-21px);
    padding: .5rem 1rem;
    margin: 1rem;
    position: absolute;
    z-index: 1;
}

.course figure .target-new {
    background-color: var(--main-color);
    color: var(--white);
}

.course figure .target-best-seller {
    background-color: var(--yellow);
    color: var(--main-color);
    right: 0;
}

.course:hover {
    border-radius: var(--border-10px);
    border: 1px solid var(--text-color);
    box-shadow: var(--box-sadow);
}

.course:hover img.fluid {
    /* width: 100%;
    height: auto;
    object-fit: contain;
    border-top-left-radius: var(--border-10px);
    border-top-right-radius: var(--border-10px);
    aspect-ratio: 600/400; */
    transform: var(--zoom-in);
    transition: transform 0.3s ease-in-out;
}

.course-all {
    width: 100%;
    text-align: center;
    margin: 5rem 0 10rem 0;
}


a.button {
    border-radius: var(--border-10px);
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
}

.course-all a,
.btn-solutions a,
.grid-instructor a,
.btn .button {
    color: var(--main-color);
    background-color: var(--white);
    border: 1px solid var(--main-color);
}

.course-all a:hover,
.btn-solutions a:hover,
.grid-instructor a:hover,
.grid-cat a:hover,
.btn .button:hover {
    color: var(--white);
    background-color: var(--main-color);
    cursor: pointer;
}

.course-all a:hover,
.btn-solutions a:hover,
.grid-instructor a:hover {
    border: 1px solid var(--main-color);

}

.desc .btn {
    margin: 3rem auto;
}


.learn {
    background-image: url(../img/learn-path.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40rem;
    vertical-align: middle;
    text-align: center;
    padding: 7rem 0;
}

.learn .container {
    margin-top: 0;
}

.learn p {
    margin-top: 2rem;
}

.learn div {
    margin-top: 5rem;
}

.learn a {
    color: var(--white);
    border: 1px solid var(--white);
}

.learn a:hover {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.start-learning {
    color: var(--text-color);
    padding: 5rem 0;
}

.flex-learn {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    justify-content: left;
    gap: 4rem;
}

.round {
    border-radius: 50%;
    padding: 1.5rem;
}

.round img {
    object-fit: fill;
    padding: .5rem;
}

.flex-solutions,
.solutions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.grid-solutions {
    display: grid;
    grid-template-rows: auto;
}

.leadership,
.promotion,
.rocket {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3rem;
}


.leadership .round {
    background-color: var(--bg-light-green);
}

.promotion .round {
    background-color: var(--bg-light-blue);
}

.rocket .round {
    background-color: var(--bg-light-orange);
}

/* .learn-width {
    width: 90%;
} */

.bg-student {
    text-align: center;
}

.bg-student img {
    border-radius: var(--border-10px);
    object-fit: cover;
}

.top-categories {

    box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--border-color);
    /* linear-gradient(to bottom,  var(--border-color), var(--bg-light-blue)); */
    padding: 5rem 0;
}

.top-categories .subtitle {
    text-align: center;
}

.grid-cat {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem
}

.grid-cat a {
    background-color: var(--text-color);
    color: white;
    border-radius: 21px;
    padding: 3rem 0;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.grid-cat h3 {
    font-size: 1.7rem;
}

.instructor {
    padding: 3rem 0;
}

.grid-instructor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 3rem;
    align-items: center;
}

.grid-instructor img,
.img-instructor {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 520 / 375;
    box-shadow: var(--box-sadow);
}

.img-instructor {
    width: 90%;
}

.grid-instructor img {
    border-radius: var(--border-10px);
}

.imgs {
    text-align: center;
    max-width: 100%;
    margin: 5rem auto;
}

.instructor .btn {
    margin-top: 3rem;
}

.instructor {
    box-shadow: inset 0px 3px 10px 0px white;
}


.hight-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: left;
    gap: 3rem;
    color: var(--text-color);
}

.hight-flex h1,
.contact-header h1 {
    font-size: 3.5rem;
    color: var(--main-color);
}

.introduction p,
article h2,
.contact-header p {
    font-size: 2rem;
}

article h2 {
    color: var(--dark-color);
    margin-bottom: 3rem;
}

article .desc {
    font-size: 1.5rem;
    padding-left: 5.5rem;
}

.steps {
    border: 2px solid var(--main-color);
    padding: 2rem 0 2rem 3.5rem;
    margin: 3rem 0 5rem 0;
}

.steps ul {
    list-style-type: decimal;
    padding-left: 1rem;
}


.steps li,
.steps a {
    color: var(--main-color);
}

.title-step {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: start;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.steps ul,
.steps-sections ol {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
}


.steps-sections ol {
    list-style-type: none;
    counter-reset: section;
}

ol .step {
    counter-increment: section;
}

ol .step .title-step::before {
    content: counter(section) '';
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 20px;
}

.sec4 a,
.steps a,
.steps-sections a {
    color: var(--main-color);
}

.sec4 a:hover,
.steps a:hover,
.steps-sections a[href^="http"]:hover {
    text-decoration: underline;
}

.steps a:hover,
.steps-sections a[href^="http"]:hover {
    color: var(--dark-color);
}

.step1-type1,
.step1-type2 {
    border: 2px solid var(--bg-light-blue);
    margin: 2rem auto;
    padding: 2rem 1.5rem;
}

.step1-type1,
.step1-type2 {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.step1-type2 ul {
    counter-reset: none;
    column-count: 1;
    column-gap: 20%;
    list-style-type: circle;
    margin-left: 2rem;
}

.step1-type1 div,
.desc-path li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}


.icon::before {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: ' ';
    vertical-align: middle;
}

.step1-type1 .academic::before {
    background-image: url(../img/icon-academic.svg);
}

.calendar::before {
    background-image: url(../img/calendar.svg);
}

.money::before {
    background-image: url(../img/money.svg);
}

.wallet::before {
    background-image: url(../img/wallet.svg);
}

.career-path {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;
}

.career-path h2 {
    width: 100%;
    color: var(--text-color);
    font-weight: 700;
    background-color: var(--bg-light-blue);
    border-bottom: 2px solid var(--text-color);
    font-size: 1.8rem;
}

.career-path h2 {
    padding: 0 1rem;
}

.career-path h2 {
    margin: 0;

}

.paths {
    list-style-type: none;
    counter-reset: section;
    padding: 0 1rem 2rem 1rem;
    display: grid;
    grid-template-rows: 9fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.path {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    gap: 1rem;
    counter-increment: section;
}

.title-path {
    font-size: 1.6rem;
}

.title-path h3::before {
    content: counter(section) '. ';
    font-weight: 700;
}

.desc-path ul {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding-left: 2rem;
}

.panel-left {
    padding-right: 0.25rem;
}

.chevron {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.chevron .bottom::before {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 0.4rem 0.4rem 0 0;
    width: 3rem;
    height: 3rem;
    transform: rotate(135deg);
}

.contact-form {
    background-color: var(--bg-light-yellow);
    border-radius: var(--border-21px);
    border: 2px solid var(--border-color);
    padding: 2rem;
}

.contact-form h2,
.contact-form h3 {
    color: var(--dark-color);
}

.contact-form h2+p {
    margin-top: 1rem;
}

form .sec1 {
    margin: 1rem 0;
}

form .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

form .inputs li:first-child,
.sec3,
.sec4 {
    margin-top: 1rem;
}

.sec3 h3{
    padding-bottom: 0.5rem;
}


form li {
    width: 100%;
}

.inputs li label {
    display: block;
}

.sec1 input,
.sec3 select {
    width: 100%;
    padding: .5rem 0;
    font-size: 1.5rem;
}

.sec3 select {
    height: 100%;
    padding-left: 0.25rem;
}

.checkbox {
    margin-top: 1rem;
}

.checkbox li,
.sec4 li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.sec4 li{
    align-items: baseline;
}

.sec4 button{
    width: 100%;
    background-color: var(--text-color);
    color: var(--white);
    border: none;
    margin-top: 1rem;
    padding: 2rem 1rem;
    border-radius: var(--border-10px);
    font-size: 1.5rem;
}

/* .checkbox li label,
.sec4 li label {
    display: inline;
} */




/* Estilos responsivos */
/* Estilos para mobil */
@media (max-width: 600px) {
    .container {
        max-width: 600px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
    }

    .banner li {
        display: inline;
    }

    .banner div {
        width: 100%;
        text-align: center;
    }

    div.menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        text-align: left;
    }

    /* Transformaciones cuando el menú hamburguesa está activo (checkbox checked) */
    #hamburger-toggle:checked+nav .slice:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
        /*Gira y mueve el primer 'slice' */
    }

    #hamburger-toggle:checked+nav .slice:nth-child(2) {
        opacity: 0;
        /* Oculta el segundo 'slice' */

    }

    #hamburger-toggle:checked+nav .slice:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
        /*Gira y mueve el tercer 'slice' */
    }

    nav li {
        width: 100%;
        margin: 1.5rem 0 2rem 1.5rem;
    }

    #hamburger-toggle:checked~nav {
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        padding: 7.5rem 2rem 0 1.5rem;
        position: fixed;
        align-items: center;

    }

    #hamburger-toggle:checked~nav .hamburger {
        float: right;
        margin-right: 1.5rem;
    }

    #hamburger-toggle:checked~nav :is(ul) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-toggle:checked~nav .open {
        /* Hide the open button */
        display: none;
    }

    .div-header-text {
        width: 95%;
        margin: auto auto;
    }

    .search {
        width: 100%;
    }

    .search input {
        width: 70%;
    }

    .resum {
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
    }

    .search button,
    .search label {
        font-size: 1.7rem;
    }

    .course img.fluid {
        object-fit: cover;
        aspect-ratio: 600/200;
    }

    .bg-student img {
        width: 300px;
        height: 350px;
    }

    .btn-solutions {
        padding: 5rem 0 3rem 11rem;
    }

    .step1-type2 ul {
        column-gap: 100%;
    }

}

/* Estilos para tabletas */
@media (601px <=width < 992px) {
    .container {
        max-width: 991px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

    }

    .banner {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .banner li {
        display: inline-flex;
    }

    .bg-logo {
        width: 75%;
    }

    div.menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        text-align: left;
    }

    /* Transformaciones cuando el menú hamburguesa está activo (checkbox checked) */
    #hamburger-toggle:checked+nav .slice:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
        /*Gira y mueve el primer 'slice' */
    }

    #hamburger-toggle:checked+nav .slice:nth-child(2) {
        opacity: 0;
        /* Oculta el segundo 'slice' */

    }

    #hamburger-toggle:checked+nav .slice:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
        /*Gira y mueve el tercer 'slice' */
    }

    nav li {
        width: 100%;
        margin: 1.5rem 0 2rem 1.5rem;
    }

    #hamburger-toggle:checked~nav {
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        padding: 7.5rem 2rem 0 1.5rem;
        position: fixed;
        align-items: center;
    }

    #hamburger-toggle:checked~nav .hamburger {
        float: right;
        margin-right: 1.5rem;
    }

    #hamburger-toggle:checked~nav :is(ul) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-toggle:checked~nav .open {
        /* Hide the open button */
        display: none;
    }

    .div-header-text {
        width: 80%;
        margin: auto auto;
    }

    .search {
        width: 90%;

    }

    .search input {
        width: 70%;
    }

    .subs {
        margin-top: 1.5rem;
        width: 42.5rem;
    }

    .footer-logo {
        flex-direction: column;
    }

    .grid-courses {
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .course img.fluid {
        object-fit: cover;
        aspect-ratio: 600/300;
    }

    .btn-solutions {
        padding: 5rem 0 3rem 11rem;
    }

    .bg-student img {
        width: 400px;
        height: 450px;
        object-fit: cover;
    }

    .grid-cat {
        grid-template-columns: 1fr 1fr;
    }

    .grid-instructor {
        grid-template-columns: 1fr 1fr;
    }

    .step1-type2 ul {
        column-count: 3;
        column-gap: 15%;
    }

    .img-instructor {
        width: 75%;
    }



}

/* Estilos para tabletas*/
@media (992px <=width < 1200px) {
    .container {
        max-width: 1199px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .banner {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .banner li {
        display: inline-flex;
    }

    .bg-logo {
        width: 75%;
    }

    div.menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        text-align: left;
    }

    /* Transformaciones cuando el menú hamburguesa está activo (checkbox checked) */
    #hamburger-toggle:checked+nav .slice:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
        /*Gira y mueve el primer 'slice' */
    }

    #hamburger-toggle:checked+nav .slice:nth-child(2) {
        opacity: 0;
        /* Oculta el segundo 'slice' */

    }

    #hamburger-toggle:checked+nav .slice:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
        /*Gira y mueve el tercer 'slice' */
    }


    nav li {
        width: 100%;
        margin: 1.5rem 0 2rem 1.5rem;
    }

    #hamburger-toggle:checked~nav {
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        padding: 7.5rem 2rem 0 1.5rem;
        position: fixed;
        align-items: center;
    }

    #hamburger-toggle:checked~nav .hamburger {
        float: right;
        margin-right: 1.5rem;
    }

    #hamburger-toggle:checked~nav :is(ul) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger-toggle:checked~nav .open {
        /* Hide the open button */
        display: none;
    }

    .div-header-text {
        width: 80%;
        margin: auto auto;
    }

    .search {
        width: 90%;
    }

    .search input {
        width: 70%;
    }

    .subs {
        margin-top: 1.5rem;
        width: 42.5rem;
    }

    .footer-logo {
        flex-direction: column;
    }

    .grid-courses {
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .course img.fluid {
        object-fit: fill;
        aspect-ratio: 600/300;
    }

    .btn-solutions {
        padding: 5rem 0 3rem 11rem;
    }

    .bg-student img {
        width: 400px;
        height: 450px;
        object-fit: cover;
    }

    .grid-cat {
        grid-template-columns: 1fr 1fr;
    }

    .step1-type2 ul {
        column-count: 3;
        column-gap: 15%;
    }

    .img-instructor {
        width: 60%;
    }
}

/* Estilos para ordenadores */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        width: 94%;
    }

    .banner {
        flex-direction: row;
        justify-content: space-between;
    }

    .banner li {
        display: inline-block;
    }

    .bg-logo {
        width: 17%;
        height: auto;
    }

    nav {
        display: flex;
        float: right;
        margin-top: 1.5rem;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: block;
        list-style-type: none;
    }

    nav li {
        width: auto;
        display: inline-flex;
        margin: 0 1.5rem;
        padding: 0 1rem;
    }

    nav li:last-child {
        margin-right: 0;
        padding-right: 0;
    }

    nav a {
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
    }

    nav li:hover:not(.signup, .login, .active) {
        color: var(--white);
        border-bottom: 3px solid var(--white);
        padding-bottom: 1rem;
    }

    .active {
        color: var(--yellow);
        border-bottom: 3px solid var(--yellow);
        padding-bottom: 1rem;
    }

    .login a:hover {
        color: var(--main-color);
        border: none;
    }

    .signup a {
        color: var(--dark-color);
        background-color: var(--white);
        border-radius: var(--border-21px);
        padding: 1.15rem 2rem;
    }

    .signup a:hover {
        color: var(--white);
        background-color: var(--main-color);
        border-radius: var(--border-21px);
        ;
        padding: 1.15rem 2rem;
        border: none;
    }

    .div-header-text {
        width: 50%;
        margin: auto auto;
    }

    .grid-courses {
        gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }


    .footer-logo {
        flex-direction: row;
    }

    .subs {
        margin-top: 1.5rem;
        width: 42.5rem;
    }

    .start-learning {
        padding-bottom: 11rem;
    }

    .bg-student {
        position: relative;
        text-align: left;
    }

    .bg-student img {
        position: absolute;
        bottom: 0;
        margin: 0 0 0 7.5rem;
    }

    .solutions {
        margin-bottom: 5rem;
    }

    .flex-solutions {
        flex-direction: row;
    }

    .grid-solutions {
        width: 47%;
    }

    .btn-solutions {
        position: relative;
    }

    .btn-solutions a {
        position: absolute;
        left: 11rem;
    }

    .grid-cat {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-span-2 {
        grid-column: 3;
        grid-row: 1 /span 2;
    }

    .grid-instructor {
        grid-template-columns: 1fr 1fr;
    }

    .hight-flex {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .img-instructor {
        width: 50%;
    }

    .panel-left {
        width: 75%;
    }

    .panel-right {
        width: 25%;
    }

    .step1-type2 ul {
        column-count: 3;
    }


}